.card-outer{
    height: auto;
    background-color: #5130a5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 5px;
}
img{
    width: 100%;
    border-radius: 10px;
}
h3{ 
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-wrap:balance;
}
h4{
    margin: 5px;
}

