.card-outer{
    flex: 0 0 auto;
  width: 200px; 
  height: 150px; 
  margin: 5px; 
}
.card-img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    margin: 2px;
}
.card-tit{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 0px;
    text-wrap:balance;
    height: auto;
}
.card-art{
    margin-top: 0px;
    text-wrap:balance;
    height: auto;
}
.meta-info{
    margin-right: 5px;
}
.artist{
    justify-content: flex-start;
    align-items: center;
    
}
.card-img-art{
    height: 250px;
    width: 200px;
}
.card-art{
    flex: 0 0 auto;
    width: 200px; 
    margin: 5px; 
}
*::-webkit-scrollbar{
    width: 2px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
    width: 5px;
    border-color: aqua;
    border-radius: 10px;
    background-color: white;
  }
