@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    height: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #08101A;
    color: white;
    height: 100%;
    margin: 0px;
}
p{
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.Headermenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2{
    display: flex;
    background-color: #08101A;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    .box2{
        display: block;
        position: initial;
    }
    .barplayer{
        z-index: 50;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0e1d2e;
        border: 5px solid transparent;
        border-radius: 10px;
    }
    .otherdata{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .titlemob{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.allaudio{
    max-width: 80%;
    margin: 0px;
    padding: 10px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
.allaudio{
    max-width: 100%;
    margin: 0px;
    padding: 10px;
    padding-bottom: 50px;
}
.titlemob{
  word-wrap: break-word;
}
}
.lis{
    width: 265px;
    height: 152px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.player{
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 98%;
   
}
.sidecontent {
    min-width: 20%;
    max-width: 20%;
    display: flow-root;
    justify-content:center;
    margin-top: 20px;
    margin-left: 10px;
}
@media only screen and (max-width: 768px) {
    .sidecontent{
        z-index: 50;
        position: fixed;
        left: 0;
        top: 75%;
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        min-width: auto;
        max-width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
}